.top-header {
    text-align: center;
    border: solid black;
    width: 100px;
    height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menlo1 {
    width: 350px; 
    height: 250px;
    position: absolute;
    left: 50px;
}
.menlo-caption {
    position: absolute;
    left: 65px;
    top: 375px;
    text-align: center;
}

.tourney-1 {
    width: 350px; 
    height: 250px;
    position: absolute;
    right: 50px;
}

.naptown-caption {
    position: absolute;
    right: 65px;
    top: 375px;
    text-align: center;
}

.top-text {
    text-align: center;
    font-size: large;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tourney-2 {
    width: 220px;
    height: 240px;
    position: absolute;
    left: 620px;
}

.nike-caption {
    position: absolute;
    top: 350px;
    left: 610px;
    text-align: center;
}

.tourney-3{
    width: 350px; 
    height: 250px;
    position: absolute;
    bottom: 60px;
    left: 50px;
}

.IL-caption{
    position: absolute;
    bottom: 5px;
    left: 70px;
    text-align: center;
}

.tourney-4 {
    width: 350px; 
    height: 250px;
    position: absolute;
    bottom: 60px;
    left: 570px;
}

.WCS-caption {
    position: absolute;
    bottom: 5px;
    left: 630px;
    text-align: center;
}

.tourney-5 {
    width: 350px; 
    height: 250px;
    position: absolute;
    right: 50px;
    bottom: 60px;
}

.final-caption {
    position: absolute;
    right: 120px;
    bottom: 5px;
    text-align: center;
}
