.box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.links {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.inside-text {
    color: black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background-image {
    background-image: url(frontimage.JPG);
    background-size: 1430px 800px;
    width: 1430px;
    height: 800px;
}