.front-photo img{
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    width: 75vh;
    height: 75vh;
    border: 30px lightgrey solid;
}

.links {
    color: white;
}


.right-text {
    text-align: right;
    position: relative;
    bottom: 290px;
    right: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.right-text:hover {
    text-decoration: underline;
    font-size: 20px;
}

/* Fix hover for left and right elements */
.left-text {
    position: relative;
    bottom: 300px;
    left: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.left-text:hover {
    text-decoration: underline;
    font-size: 20px; 
}


.top-text {
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.top-text:hover {
    text-decoration: underline;
    font-size: 20px;
    
}