.image1 img{
    width: 400px; 
    height: 300px;
    transform: rotate(270deg);
    margin-top: 200px;
}

.experience-text {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    margin-top: 50px;
}

