.image1 img{
    width: 400px; 
    height: 300px;
    position: absolute;
    left: 20px;
    top: 250px;
    transform: rotate(270deg);
}

.experience-text {
    position: absolute;
    left: 400px;
    margin-top: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

